<div class="row">
    <div class="col-12 text-center">
        <h1 class="fw-bold">Resultados de Búsqueda</h1>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <form action="/buscar" method="get">
            <input type="text" name="search" class="form-control" placeholder="Buscar vuelos por nombre" value="<%= search %>">
            <button type="submit" class="btn btn-primary mt-2">Buscar 🔍</button>
        </form>
    </div>
</div>

<hr class="my-4">

<div class="row mt-4">
    <% if (categories.length === 0) { %>
        <div class="col-12 text-center">
            <p>No se encontraron vuelos.</p>
        </div>
    <% } else { %>
        <% categories.forEach(category => { %>
            <div class="col-12 text-center">
                <h3 class="fw-bold"><%= category.name %></h3>
            </div>
            <hr class="my-4">
            <% category.flights.forEach(flight => { %>
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <%= flight.name %>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Origen: <%= flight.origin %></li>
                            <li class="list-group-item">Destino: <%= flight.destination %></li>
                            <li class="list-group-item">Hora de salida: <%= new Date(flight.departuretime).toLocaleString() %></li>
                            <li class="list-group-item">Hora de llegada: <%= new Date(flight.arrivaltime).toLocaleString() %></li>
                            <li class="list-group-item">Precio: <%= flight.price %></li>
                        </ul>
                    </div>
                </div>
            <% }); %>
            <div class="col-12">
                <hr class="my-4">
            </div>
        <% }); %>
    <% } %>
</div>

<div class="row mt-4">
    <div class="col-12 text-center">
        <a href="/principal" class="btn btn-dark">Volver al Inicio</a>
    </div>
</div>
<br/>
<br/>
